

.yellow_top_page {
    background-color: rgb(255, 196, 56);
    margin-bottom: 5rem;
}

.hqspec_logo {
    margin-top: 2rem;
    margin-left: 2rem;
    border: 3px solid white;
    border-radius: 10px;
}

.title {
    text-align: center;
    font-size: xx-large;
}

.buttons {
    display: flex; /* This turns on flexbox for this container */
    justify-content: center; /* This spreads out the child elements evenly */
    align-items: center;
}

.login_button, .signup_button{
    margin: 10px; /* Adds some space around each box */
    padding: 20px; /* Adds some internal space within each box */  
}
.section-container {
    background-color: white;
    margin-top: 10px;
    display: flex; /* This turns on flexbox for this container */
    justify-content: space-around; /* This spreads out the child elements evenly */
    align-items: center; /* This vertically centers the items */
    flex-wrap: wrap; /* Allows items to wrap to the next line if not enough space */
    height: 50vh;
}
.textblock_one, .textblock_two, .textblock_three {
    flex: 1; /* This allows the boxes to grow and fill the space */
    margin: 10px; /* Adds some space around each box */
    padding: 20px; /* Adds some internal space within each box */
    min-width: 200px; /* Minimum width for each box, adjust as necessary */
    box-sizing: border-box; /* Ensures padding and border are included in width */
    height: 16vh;
    width: 33vh;
    padding-top: 1rem;
    background: black;
    color: white;
     margin: 10px; 
    border-radius: 10px;
    font-size: large; 
    text-align: center;
}

