
.Profile_Container {
    display: grid;
    justify-content: center;
    grid-template-columns: 100px 150px;
    grid-template-rows: 50px 50px 50px; 
    gap: 5px 5px;
    background-color: lightgray;
    width: 252px;
    margin: 0;
    text-align: center;
    margin-bottom: 5rem;
}
.PHA_Profile_Info{
    height: 100%; /* Full height */
    margin: 0; /* Remove default margin */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.PHA_User_Name_Title, .PHA_User_Name_Input, .PHA_User_Email_Title, .PHA_User_Email_Input , .PHA_User_Email_Input, .PHA_User_Email_Input,.PHA_User_Role_Title,.PHA_User_Role_Input {
    font-size: larger;
    background-color: white;
}

.PHA_Property_Nav {
    background-color: black;
    margin-top: -70px;
}

.new_property_button, .show_properties_button {
    display: flex; /* This turns on flexbox for this container */
    justify-content: center; /* This spreads out the child elements evenly */
    align-items: center;
}
